/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
$base-font:"Source Sans Pro", "Helvetica", "sans-serif";
$header-font: "Source Sans Pro", "Helvetica", "sans-serif";
$special-font: 'Grand Hotel', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FFC938;

$red: #EE5F5B;
$blue: #30485F;
$yellow: #FFC938;
$orange: #E67E22;
$green: #42D3AA;
$gray: #000000;

$extra-dark-gray: rgb(32,32,32);
$dark-gray: rgb(74,74,74);
$medium-gray: rgb(157,157,157);
$light-gray: rgb(232,232,232);
$extra-light-gray: rgb(249,249,249);

$dark-blue: #20303F;
$dark-green: #33A988;
$dark-yellow: #EAB62B;


$light-red: #F6C4C3;
$light-yellow: #FFEAB2;
$light-green: #8FD3C0;
$light-blue: #AACAE8;

$gradient: linear-gradient(164deg, rgba(255, 201, 56, 0.3) 0%, rgba(66, 211, 170, 0.3) 100%);
$reverse-gradient: linear-gradient(344deg, rgba(255, 201, 56, 0.3) 0%, rgba(66, 211, 170, 0.3) 100%);
