/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
$base-font:"Source Sans Pro", "Helvetica", "sans-serif";
$header-font: "Source Sans Pro", "Helvetica", "sans-serif";
$special-font: 'Amatic SC', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FFC938;

$red: #EE5F5B;
$blue: #30485F;
$yellow: #FFC938;
$orange: #F39C12;
$green: #42D3AA;
$gray: rgb(74,74,74);

$extra-dark-gray: rgb(32,32,32);
$dark-gray: rgb(74,74,74);
$dark-light-gray: rgb(100,100,100);
$medium-dark-gray: rgb(130,130,130);
$medium-gray: rgb(157,157,157);
$medium-light-gray: rgb(200,200,200);
$light-gray: rgb(215,215,215);
$extra-light-gray: rgb(240,240,240);

$dark-red: #DF3D38;
$dark-blue: #0E2943;
$dark-green: #18A689;
$dark-yellow: #E3A604;


$light-red: #FBF2F2;
$light-yellow: #FFEAB2;
$light-green: #A7F5DF;
$light-blue: #30689D;
$flash-blue: #54A3EF;

$facebook-blue: #3b5998;
$dark-facebook-blue: #18387B;



$gradient: linear-gradient(164deg, rgba(255, 201, 56, 0.5) 0%, rgba(66, 211, 170, 0.5) 100%);
$reverse-gradient: linear-gradient(344deg, rgba(255, 201, 56, 0.5) 0%, rgba(66, 211, 170, 0.5) 100%);

$gradient-light: linear-gradient(164deg, rgba(255, 201, 56, 0.3) 0%, rgba(66, 211, 170, 0.3) 100%);
$reverse-gradient-light: linear-gradient(344deg, rgba(255, 201, 56, 0.3) 0%, rgba(66, 211, 170, 0.3) 100%);

$gradient-dark: linear-gradient(164deg, rgba(255, 201, 56, 0.8) 0%, rgba(66, 211, 170, 0.8) 100%);
$reverse-gradient-dark: linear-gradient(344deg, rgba(255, 201, 56, 0.8) 0%, rgba(66, 211, 170, 0.8) 100%);

$gradient-opaque: linear-gradient(164deg, $yellow 0%, $green 100%);
$reverse-gradient-opaque: linear-gradient(344deg, $yellow 0%, $green 100%);

$gradient-yellow: linear-gradient(164deg, rgba(255, 201, 56, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
$reverse-gradient-yellow: linear-gradient(344deg, rgba(255, 201, 56, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);

$gradient-green: linear-gradient(164deg, rgba(66, 211, 170, 0.3) 0%, rgba(167, 245, 223, 0.3) 100%);

$gradient-green-dark: linear-gradient(164deg, $green 0%, $dark-green 100%);
$reverse-gradient-green-dark: linear-gradient(344deg, $green 0%, $dark-green 100%);

$gradient-yellow-dark: linear-gradient(164deg, $yellow 0%, $dark-yellow 100%);
$reverse-gradient-yellow-dark: linear-gradient(344deg, $yellow 0%, $dark-yellow 100%);

$gradient-blue-light: linear-gradient(164deg, $light-blue 0%, $blue 100%);
$reverse-gradient-blue-light: linear-gradient(344deg, $light-blue 0%, $blue 100%);

$gradient-red-dark: linear-gradient(164deg, $red 0%, $dark-red 100%);
$reverse-gradient-red-dark: linear-gradient(344deg, $red 0%, $dark-red 100%);

$gradient-gray-dark: linear-gradient(164deg, $medium-gray 0%, $dark-gray 100%);
$reverse-gradient-gray-dark: linear-gradient(344deg, $medium-gray 0%, $dark-gray 100%);

$gradient-facebook: linear-gradient(164deg, $facebook-blue 0%, $dark-facebook-blue 100%);
$reverse-gradient-facebook: linear-gradient(344deg, $facebook-blue 0%, $dark-facebook-blue 100%);

