<div class="form-separation padded-top-s padded-bottom-s">
  <div></div>
  <p><strong>Account cancellation</strong></p>
  <div></div>
</div>

<% if policy(current_user).destroy? %>

  <div class="padded-bottom-xs">
    <p>Cancel your account only if your want to quit Papoters definitely. All your information (offers, session history, etc.) will be destroyed.</p>
  </div>

  <div class="text-center padded-top-xs">
    <button type="button" class="btn btn-form btn-red" data-toggle="modal" data-target="#account-cancellation">
      Cancel my account
    </button>
  </div>

    <div class="modal fade" id="account-cancellation" tabindex="-1" role="dialog" aria-labelledby="accountCancellationLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title font-weight-normal" id="accountCancellationLabel">Account cancellation</h4>
        </div>
        <div class="modal-body">
          <p>Cancelling your account is irreversible. It will destroy all your information on Papoters.</p>
          <p>Are you sure you want to do this?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-form btn-gray" data-dismiss="modal">Go back</button>
          <%= link_to "Cancel my account", user_path(current_user), method: :delete, class: "btn btn-form btn-red" %>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="padded-bottom-xs">
    <p>You can't cancel your account right now.</p>
    <p><%= link_to "Close or cancel all ongoing sessions", dashboard_path %> before cancelling your account.</p>
  </div>

<% end %>
