<% content_for :title do %>
  <%= "Papoters | #{t('.account_confirmation')}" %>
<% end %>

<h2><%= t '.waiting_for_confirmation' %></h2>
<p><%= t '.activate_account' %></p>

<div class="text-center">
  <h2 class="no-margin-bottom"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></h2 class="no-margin-bottom">
  <p class="font-weight-normal"><%= t '.check_your_emails' %></p>
</div>
