.dashboard-top {
  h1 {
    color: white;
  }
  a {
    color: $extra-light-gray;
    &:hover {
      color: $blue;
    }
  }
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  a {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      opacity: 0.8;
    }
  };
}

.tab {
  background: $extra-light-gray;
  opacity: 0.6;
  flex: 0 0 auto;
  min-width: 25%;
  text-align: center;
  padding: 20px 0;
  h5 {
    margin: 0;
  };
  &:first-child {
    border-radius: 10px 0 0 0;
  };
  &:last-child {
    border-radius: 0 10px 0 0;
  };
  &.active {
    opacity: 1;
  }
}
