.dashboard-top {
  h1 {
    color: white;
  }
  a {
    color: $medium-gray;
    &:hover {
      color: $extra-light-gray;
    }
  }
}

.dashboard-tabs {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  a {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      opacity: 0.8;
    }
  };
}

.dashboard-tab {
  background: $extra-light-gray;
  opacity: 0.6;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 10%;
  h4, h5 {
    margin: 0;
  };
  &:first-child {
    border-radius: 10px 0 0 0;
  };
  &:last-child {
    border-radius: 0 10px 0 0;
  };
  &.active {
    opacity: 1;
  }
}

.session-step-header {
  display: flex;
  align-items: center;
  div {
    height: 0;
    margin: 7px 0;
    flex: 1 1 auto;
    background-color: $medium-gray;
  }
  h3 {
    line-height: 15px;
    margin: 0 10px;
    color: $dark-gray;
  }
}


@media (max-width: $screen-sm-max) {
  .session-step-header {
    div {
      height: 1px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .dashboard-tab {
    padding: 10px 15px;
    min-width: 20%;
  }
}
