#deal-page {
  position: relative;
}

.deal-banner-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 10px solid;
}

.deal-banner-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  border-top: 10px solid;
}

.deal-banner-green {
  background-color: $green;
  border-color: $light-green;
}

.deal-banner-yellow {
  background-color: $yellow;
  border-color: $light-yellow;
}

.deal-info {
  padding-right: 30px;
}

.deal-status-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  padding: 15px 0;
  p {
    margin-bottom: 0;
  }
}

.deal-status {
  flex: 1 0 auto;
}

.deal-status-arrow {
  flex: 0 1 auto;
  margin: 0 5px;
}

.deal-info-box {
  padding-left: 15px;
  padding-right: 15px;
}

.deal-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > .btn {
    margin: 10px;
  }
}

.deal-proposition {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 10px;
}

.deal-proposition-top {
  background-color: rgba(255,255,255,1);
  padding: 5px 25px;
  border-radius: 10px 10px 0 0;
}

.deal-proposition-disclose {
  background-color: rgba(255,255,255,0.8);
  padding: 10px 15px;
  p {
    margin: 0;
  }
}

.deal-proposition-middle {
  background-color: rgba(255,255,255,0.8);
  padding: 0 25px;
}

#deal-proposition-essential {
  padding-top: 20px;
  padding-bottom: 11px;
  .deal-objective:last-child p {
    margin-bottom: 0;
  }
}

#deal-proposition-details {
  display: none;
}

.deal-objective {
  display: flex;
  justify-content: space-between;
}

.deal-objective-rating {
  flex: 0 0 100px;
}

#deal-objectives-in-form {
  background-color: rgba(255,255,255,0.8);
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 15px 15px 5px 15px;
  margin-bottom: 1em;
}

.deal-objective-destroy {
  margin-left: 10px;
  &:hover {
    color: $dark-gray;
  }
}

.deal-proposition-bottom {
  background-color: rgba(255,255,255,1);
  padding: 20px 25px;
  border-radius: 0 0 10px 10px;
}

.deal-proposition-action-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.deal-proposition-status {
  p {
    margin: 0;
  }
}

.deal-proposition-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deal-proposition-recap-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.deal-conversation {
  height: 72vh;
  display: flex;
  flex-direction: column;
}

.deal-conversation-top {
  flex: 0 0 auto;
  background-color: $light-gray;
  border-radius: 5px 5px 0 0;
  padding: 3px 20px;
  border-bottom: 1px solid $medium-gray;
}

.deal-user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 5px 20px 5px 0;
  }
}

a.deal-user-info {
  &:hover {
    img {
      border: $light-gray solid 1px;
    }
  }
}

#deal-conversation-panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  overflow: auto;
}

#deal-conversation-messages {
  flex: 1 0 auto;
  min-height: 100%;
  padding: 15px 20px;
}

#deal-conversation-form {
  flex: 0 0 auto;
  padding: 10px 20px;
  background-color: $light-gray;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid $light-gray;
  textarea {
    font-weight: lighter;
  }
}

.deal-reviews-box {
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(255,255,255,0.7);
}

@media (max-width: $screen-md-max) {
  .deal-info {
    padding-right: 15px;
  }
  .deal-proposition-top {
    padding: 5px 15px;
  };
  .deal-proposition, .deal-info-box {
    padding-left: 15px;
    padding-right: 15px;
  };
  .deal-proposition-bottom {
    padding: 20px 15px;
  }
}

@media (max-width: $screen-sm-max) {
  .deal-title, .deal-info, .deal-conversation, .deal-reviews {
    padding-right: 20px;
    padding-left: 20px;
  }
  .deal-proposition-top {
    padding: 5px 25px;
  };
  .deal-proposition, .deal-info-box {
    padding-left: 25px;
    padding-right: 25px;
  };
  .deal-proposition-bottom {
    padding: 20px 25px;
  }
}

@media (max-width: $screen-xs-max) {
  .deal-banner-top {
    height: 75px;
  };
  .deal-title, .deal-info, .deal-conversation, .deal-reviews {
    padding-right: 0;
    padding-left: 0;
  }
  .deal-status-box {
    p {
      font-size: 13px !important;
    }
  };
  .deal-proposition-top {
    padding: 5px 15px;
  };
  .deal-proposition-middle, .deal-reviews-box {
    padding-left: 15px;
    padding-right: 15px;
  };
  .deal-info-box {
    padding-left: 0;
    padding-right: 0;
  };
  .deal-objective-rating {
    flex: 0 0 85px;
  };
  .deal-proposition-bottom {
    padding: 20px 15px;
  };
  .deal-conversation {
    height: 80vh;
  }
  .deal-conversation-top, #deal-conversation-messages, #deal-conversation-form {
    padding-right: 10px;
    padding-left: 10px;
  }
  #deal-conversation-form {
    textarea {
      font-size: 16px;
    }
  }
}
