.session-info {
  padding-right: 30px;
}

.session-status-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  padding: 15px 0;
  p {
    margin-bottom: 0;
  }
}

.session-status {
  flex: 1 0 auto;
}

.session-status-arrow {
  flex: 0 1 auto;
  margin: 0 5px;
}

.session-info-box {
  padding-left: 25px;
  padding-right: 25px;
}

.session-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > .btn {
    margin: 10px;
  }
}

.session-proposition-top {
  background-color: rgba(255,255,255,0.9);
  padding: 5px 25px;
  border-radius: 10px 10px 0 0;
}

.session-proposition-toggle {
  padding: 10px 15px;
  p {
    margin: 0;
  }
}

.session-proposition {
  padding: 0 25px;
}

#proposition-essential {
  padding-top: 20px;
  padding-bottom: 11px;
  p:last-child {
    margin-bottom: 0;
  }
}

#proposition-details {
  display: none;
}

.session-proposition-bottom {
  background-color: rgba(255,255,255,0.9);
  padding: 20px 25px;
  border-radius: 0 0 10px 10px;
}

.proposition-action-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    margin-left: 10px;
  }
}

.proposition-info {
  p {
    margin: 0;
  }
}

.session-proposition-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proposition-recap-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.session-conversation {
  height: 72vh;
  display: flex;
  flex-direction: column;
}

.session-conversation-top {
  flex: 0 0 auto;
  background-color: $light-gray;
  border-radius: 5px 5px 0 0;
  padding: 3px 20px;
  border-bottom: 1px solid $medium-gray;
}

.session-user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 5px 20px 5px 0;
  }
  &:hover {
    img {
      border: $extra-light-gray solid 1px;
    }
  }
}

.session-conversation-panel {
  flex: 1 1 auto;
  display: flex;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#session-conversation-messages {
  flex: 1 1 auto;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.session-conversation-form {
  flex: 0 0 auto;
  padding: 10px 20px;
  background-color: $light-gray;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid $light-gray;
}


@media (max-width: $screen-md-max) {
  .session-info {
    padding-right: 15px;
  }
  .session-proposition-top {
    padding: 5px 15px;
  };
  .session-proposition, .session-info-box {
    padding-left: 15px;
    padding-right: 15px;
  };
  .session-proposition-bottom {
    padding: 20px 15px;
  }
}

@media (max-width: $screen-sm-max) {
  .session-title, .session-info, .session-conversation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .session-proposition-top {
    padding: 5px 25px;
  };
  .session-proposition, .session-info-box {
    padding-left: 25px;
    padding-right: 25px;
  };
  .session-proposition-bottom {
    padding: 20px 25px;
  }
}

@media (max-width: $screen-xs-max) {
  .session-title, .session-info, .session-conversation {
    padding-right: 0;
    padding-left: 0;
  }
  .session-status-box {
    p {
      font-size: 13px !important;
    }
  };
  .session-proposition-top {
    padding: 5px 15px;
  };
  .session-proposition, .session-info-box {
    padding-left: 15px;
    padding-right: 15px;
  };
  .session-proposition-bottom {
    padding: 20px 15px;
  };
  .session-conversation {
    height: 80vh;
  }
  .session-conversation-top, #session-conversation-messages, .session-conversation-form {
    padding-right: 10px;
    padding-left: 10px;
  }
}
