.home {
  h2 {
    font-size: 35px;
  }
}

.home-banner {
  height: 100vh;
}

.home-banner-title {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    flex: 0 1 800px;
    font-size: 60px;
    font-weight: lighter;
  }
}

.home-banner-content {
  height: 38vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-switch-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#home-search-form {
  flex: 0 1 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-switch-search-form {
  flex: 0 1 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-form-input {
  height: 70px;
  flex: 0 1 700px;
  border: none;
  border-bottom: 2px $yellow solid;
  margin-right: 30px;
  font-size: 35px;
  background-color: transparent;
  border-radius: 0;
  &:focus {
    outline: none;
    border-bottom: 3px $yellow solid;
  }
}

.home-switch-search-form-input  {
  height: 50px;
  flex: 0 1 500px;
  font-size: 25px;
  border: none;
  border-bottom: 2px $yellow solid;
  margin-right: 30px;
  background-color: transparent;
  border-radius: 0;
  &:focus {
    outline: none;
    border-bottom: 3px $yellow solid;
  }
}

.home-btn-search {
  flex: 0 0 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
}

.home-btn-switch {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
}

.home-offer-services {
  color: $medium-dark-gray;
  font-size: 35px;
  font-weight: normal;
  border-bottom: solid 2px $green;
  padding: 10px;
  &:hover {
    color: $dark-gray;
    border-bottom: solid 3px $green;
  }
}

.home-banner-arrow{
  height: 12vh;
  p {
    margin: 0;
  }
}

#home-arrow-down {
  font-size: 50px;
  color: $medium-dark-gray;
  &:hover {
    color: $blue;
  }
}

.home-inspiration-picture {
  img {
    max-width: 100%;
  }
}

.home-process {
  h3 {
    font-size: 20px;
  }
}

.home-btn-give {
  padding: 15px 20px;
  font-size: 20px;
  width: 150px;
}

@media (max-width: $screen-xs-max) {
  .home {
    h2 {
      font-size: 26px;
    }
  }
  .home-banner-title {
    h1 {
      font-size: 35px;
    }
  }
  .home-search-form-input, .home-switch-search-form-input {
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    border-bottom: 1px $yellow solid;
    &:focus {
      border-bottom: 2px $yellow solid;
    }
  }
  .home-btn-search, .home-btn-switch {
    height: 40px;
    flex: 0 0 40px;
    font-size: 16px;
  }
  .home-offer-services {
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px $green solid;
    &:hover {
      border-bottom: 2px $green solid;
    }
  }
  .home-btn-give {
    font-size: 18px;
  }
  #home-search-form {
    flex: 0 1 500px;
  }
  #home-arrow-down {
    font-size: 30px;
  }
}
