.home {
  h2 {
    font-size: 35px;
  }
}

// .home-banner {
//   background: linear-gradient(180deg, rgba(255, 201, 56, 0.5) 0%, rgba(66, 211, 170, 0.5) 70%, rgba(255, 201, 56, 0.5) 100%);
// }

.home-banner-top {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  h1 {
    flex: 0 1 800px;
    font-size: 60px;
    font-weight: lighter;
  }
}

#home-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 15px;
  background: rgba(255, 201, 56, 0.8);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

#home-input {
  flex: 0 1 600px;
  font-size: 34px;
  padding-right: 40px;
  border: none;
  border-bottom: 2px white solid;
  background-color: transparent;
  border-radius: 0;
  &:focus {
    outline: none;
    border-bottom: 3px white solid;
  };
  &::placeholder {
    color: $medium-dark-gray;
  }
}

#home-input-icon {
  position: relative;
  font-size: 34px;
  right: 36px;
  top: 0;
  color: white;
  width: 0;
}


.home-be-advisor-link {
  color: $medium-dark-gray;
  font-size: 35px;
  font-weight: normal;
  border-bottom: solid 2px $green;
  padding: 10px;
  &:hover {
    color: $dark-gray;
    border-bottom: solid 3px $green;
  }
}

.home-banner-bottom{
  height: calc(40vh - 81px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


#home-arrow-down {
  p {
    margin: 0;
  };
  font-size: 50px;
  color: $medium-dark-gray;
  &:hover {
    color: $blue;
  }
}

.home-inspiration-picture {
  img {
    max-width: 100%;
  }
}

.home-guidelines {
  h3 {
    font-size: 20px;
  }
}

.home-be-advisor-btn {
  padding: 15px 25px;
  font-size: 20px;
}

.home-bottom-search-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#home-bottom-search-form {
  flex: 0 1 500px;
}

.home-bottom-search-input {
  height: 50px;
  flex: 0 1 500px;
  font-size: 25px;
}

.home-bottom-search-btn {
  flex: 0 0 50px;
  height: 50px;
  font-size: 22px;
}


@media (max-width: $screen-xs-max) {
  .home {
    h2 {
      font-size: 26px;
    }
  }
  .home-banner-title {
    h1 {
      font-size: 35px;
    }
  }
  #home-search-form {
    flex: 0 1 500px;
  }
  .home-search-input, .home-bottom-search-input {
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
  }
  .home-search-btn, .home-bottom-search-btn {
    height: 40px;
    flex: 0 0 40px;
    font-size: 16px;
  }
  .home-be-advisor-link {
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px $green solid;
    &:hover {
      border-bottom: 2px $green solid;
    }
  }
  #home-arrow-down {
    font-size: 30px;
  }
  .home-be-advisor-btn {
    font-size: 18px;
  }
}
