.offer-container {
  border-radius: 15px 0 0 15px;
}

.offer-sub-container {
  padding: 15px 30px;
}

.offer-general {
  position: relative;
}

.offer-details {
  padding-top: 2em;
  h6 {
    margin-top: 0;
  }
}

.offer-stat-content {
  padding-bottom: 15px;
}

.offer-user {
  min-height: 350px;
  border-radius: 0 15px 0 0;
  position: relative;
}

.offer-user-link {
  position: absolute;
  border-radius: 0 15px 0 0;
  background: $gradient;
  padding: 50px 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  h1 {
    font-size: 22px;
  };
  h3 {
    font-size: 18px;
    font-weight: 300;
  };
  h4 {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
  };
  &:hover {
    background: $reverse-gradient;
  }
}

.offer-top-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.offer-trigger {
  margin-top: 29px;
}

.edit-offer-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h6 {
    margin-right: 15px;
  }
}


@media (max-width: $screen-sm-max) {
  .offer-container {
    border-radius: 15px;
  };
  .offer-user {
    min-height: auto;
    height: auto;
    border-radius: 0;
  };
  .offer-user-link {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0;
    text-align: left;
    padding: 15px 45px;
    h1, h3 {
      margin-top: 5px;
    };
    h4 {
      margin-top: 10px;
    };
  };
  .offer-user-avatar {
    margin: 10px 20px 10px 0;
  };
}

@media (max-width: $screen-xs-max) {
  .offer-sub-container {
    padding: 10px 0;
  };
  .offer-details {
    padding-top: 1em;
  };
  .offer-user-link {
    padding: 10px 15px;
    h1 {
      font-size: 18px;
    };
    h3 {
      font-size: 16px;
    };
    h4 {
      font-size: 14px;
    };
  };
  .offer-trigger {
    margin-top: 26px;
  }
}
