.offer-container {
  border-radius: 15px 0 0 15px;
}

.offer-sub-container {
  padding: 15px 30px;
}

.offer-general {
  position: relative;
}

.offer-details {
  padding-top: 2em;
  h6 {
    margin-top: 0;
  }
}

.offer-stat-content {
  padding-bottom: 15px;
}

.offer-profile {
  min-height: 350px;
  padding: 50px 10px;
  border-radius: 0 15px 0 0;
  position: relative;
  h1 {
    font-size: 22px;
  };
  h3 {
    font-size: 18px;
  };
  h4 {
    font-size: 16px;
    margin-top: 20px;
  };
}

.offer-profile-link {
  border-radius: 0 15px 0 0;
}

.offer-top-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.offer-trigger {
  margin-top: 29px;
}

#offer-reviews-paginator {
  font-weight: lighter;
}

@media (max-width: $screen-sm-max) {
  .offer-container {
    border-radius: 15px;
  };
  .offer-profile {
    min-height: auto;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 0;
    text-align: left;
    padding: 15px 45px;
    h1, h3 {
      margin-top: 5px;
    };
    h4 {
      margin-top: 10px;
    };
  };
  .offer-profile-avatar {
    margin: 10px 20px 10px 0;
  };
  .offer-profile-link {
    border-radius: 0;
  }
}

@media (max-width: $screen-xs-max) {
  .offer-sub-container {
    padding: 10px 0;
  };
  .offer-details {
    padding-top: 1em;
  };
  .offer-profile {
    padding: 10px 15px;
    h1 {
      font-size: 18px;
    };
    h3 {
      font-size: 16px;
    };
    h4 {
      font-size: 14px;
    };
  };
  .offer-trigger {
    margin-top: 26px;
  }
}
