.user-top {
  h1, h3, h4 {
    margin-top: 15px;
  }
}

.user-info-top {
  display: flex;
  justify-content: space-between;
  h2 {
    flex: 1 0 auto;
  };
  p {
    padding-top: 30px;
    padding-left: 15px;
  }
}

.user-offers-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    flex: 1 0 auto;
  };
  div {
    padding-top: 15px;
    padding-left: 15px;
  }
}

.user-offers-info {
  margin-top: 2em;
  padding: 20px 45px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
}

.user-connect-to-stripe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    padding-left: 25px;
  }
}

.user-pricing-info {
  display: flex;
  align-items: center;
  img {
    margin-right: 25px;
    height: 30px;
  }
  p {
    margin-bottom: 0;
  }
}

.user-reviews-subtitle {
  display: flex;
}

@media (max-width: $screen-xs-max) {
  .user-offers-info {
    padding: 15px;
  }
  .user-connect-to-stripe {
    flex-direction: column;
    div {
      padding-top: 15px;
      padding-left: 0;
    }
  }
  .user-pricing-info {
    flex-direction: column;
    img {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .user-reviews-subtitle {
    display: block;
  }
}
