<p>
  <% (objective.rating.round).times do %>
    <i class="fa fa-star yellow" aria-hidden="true"></i>
  <% end %>
  <% (5 - objective.rating.round).times do %>
    <i class="fa fa-star-o medium-gray" aria-hidden="true"></i>
  <% end %>
</p>
