<div class="deal-objective">
  <p><span class="font-weight-normal"><%= number %></span> &nbsp; | &nbsp; <%= objective.description %></p>
  <%= link_to "&times;".html_safe, objective_path(objective), method: :delete, remote: true, "data-no-loader": true, class: "medium-gray deal-objective-destroy" %>
</div>
