$('#deal-objectives-in-form').empty();
<% if @deal.objectives.blank? %>
  $('#deal-objectives-in-form').html("<p class='red'><%= t 'deals.proposition.set_one_target' %></p>");
<% else %>
  <% @deal.objectives.each_with_index do |objective, i| %>
    $('#deal-objectives-in-form').append("<%= j render 'objectives/show_in_form', objective: objective, number: (i + 1) %>");
  <% end %>
  unactivateLoader();
<% end %>
