<div class="user-connect-to-stripe">
  <p class="no-margin-bottom"><%= t '.accept_payment_instructions_html' %></p>
  <div>
    <a href=<%= "https://connect.stripe.com/oauth/authorize?response_type=code&
      client_id=#{ENV['STRIPE_CLIENT_ID']}&
      scope=read_write&
      stripe_user[email]=#{@user.email}&
      stripe_user[url]=#{user_url(@user)}&
      stripe_user[country]=#{@user.country_code}&
      stripe_user[business_name]=#{@user.name_anonymous.split.join('+')}+@Papoters&
      stripe_user[business_type]=sole_prop&
      stripe_user[first_name]=#{@user.first_name.split.join('+')}&
      stripe_user[last_name]=#{@user.last_name.split.join('+')}&
      stripe_user[dob_day]=#{@user.birth_date.day}&
      stripe_user[dob_month]=#{@user.birth_date.month}&
      stripe_user[dob_year]=#{@user.birth_date.year}&
      stripe_user[street_address]=#{@user.address.split.join('+')}&
      stripe_user[city]=#{@user.city.split.join('+')}&
      stripe_user[state]=#{@user.state.split.join('+')}&
      stripe_user[zip]=#{@user.zip_code.split.join('+')}&
      stripe_user[phone_number]=#{@user.phone_number}&
      stripe_user[physical_product]=false&
      stripe_user[product_category]=other&
      stripe_user[product_description]=#{t('.advisory_services').split.join('+')}&
      stripe_user[currency]=#{@user.currency_code}"%> class="btn btn-gray">
      <span class="info-icon"><%= image_tag 'amount.svg' %></span><%= t '.connect_with_stripe' %>
    </a>
  </div>
</div>
