<% content_for :title do %>
  <%= "Papoters | #{t('.password_reset')}" %>
<% end %>

<h2><%= t '.password_reset' %></h2>
<p><%= t '.reset_your_password' %></p>

<div class="text-center">
  <h2 class="no-margin-bottom"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></h2>
  <p class="font-weight-normal"><%= t '.check_your_emails' %></p>
</div>
