<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(attr[0]) %>)">
  <div class="card-title text-left"><%= attr[1] %></div>
  <a class="card-link" href="#" ></a>
</div>
