<div style='background-image: url("<%= image_path('backgrounds/background.png') %>");'>
  <div class="home-banner-small bg-gray-transparent" >
    <div class="home-content-wrapper padded-top-xxl padded-bottom-l">
      <div class="home-flex-800 text-center">
        <h1><%= t '.terms' %></h1>
      </div>
    </div>
  </div>
</div>
