.my-footer {
  background: white;
  border-top: solid 1px $light-gray;
  width: 100%;
  padding: 35px 35px 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    padding: 2px 10px;
    &:hover {
    }
  }
}

.my-footer-left, .my-footer-right {
  padding-bottom: 10px;
}


@media (max-width: $screen-xs-max) {
  .my-footer {
    padding: 35px 5px 20px 5px;
  }
}
