.my-footer {
  background: $medium-dark-gray;
  // border-top: solid 1px $light-gray;
  width: 100%;
  padding: 35px 25px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    color: $extra-light-gray;
    padding: 0 10px;
    &:hover {
      color: $blue;
    }
  }
}

.my-footer-left, .my-footer-right {
  padding-bottom: 10px;
}


@media (max-width: $screen-xs-max) {
  .my-footer {
    padding: 35px 10px 25px 10px;
  }
}
