.devise-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px 30px 30px 30px;
  border-radius: 0 0 10px 10px;
  h2 {
    padding-bottom: 10px;
  }
}

.devise-form-top {
  max-width: 600px;
  margin: 0 auto;
  height: 100 px;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255,255,255,0.8);
}

.devise-form-logo img {
  height: 45px;
}

.devise-form-input {
  height: 45px;
  &:focus {
    border-color: $light-blue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $light-blue;
  }
}

.form-separation {
  display: flex;
  align-items: center;
  div {
    height: 1px;
    margin: 7px 0;
    flex: 1 1 auto;
    background-color: $medium-gray;
  }
  p {
    line-height: 15px;
    margin: 0 10px;
    color: $dark-gray;
  }
}

.form-group.user_photo {
  ul {
    list-style: none;
  }
  input > input {
    margin: 50px;
  }
}

@media (max-width: $screen-xs-max) {
  .devise-form-logo img {
    height: 35px;
  };
  .devise-form {
  padding: 5px 10px 30px 10px;
  };
  .devise-form-top {
    padding: 10px;
  };
  .devise-form-input {
    height: 40px;
    font-size: 14px;
  }
}
