.custom-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px 30px 30px 30px;
  border-radius: 0 0 10px 10px;
  h2 {
    padding-bottom: 10px;
  }
}

.custom-form-top {
  max-width: 600px;
  margin: 0 auto;
  height: 100 px;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255,255,255,0.8);
}

.custom-form-logo img {
  height: 45px;
}

.custom-form-input {
  height: 45px;
  &:focus {
    border-color: $light-blue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $light-blue;
  }
  &[readonly="readonly"] {
    background-color: white;
  }
}

.custom-input-addon {
  background-color: $extra-light-gray;
  min-width: 46px;
  color: $dark-gray;
}

.form-separation {
  display: flex;
  align-items: center;
  div {
    height: 1px;
    margin: 7px 0;
    flex: 1 1 auto;
    background-color: $medium-gray;
  }
  p {
    line-height: 15px;
    margin: 0 10px;
    color: $dark-gray;
  }
}

.form-group.user_photo {
  ul {
    list-style: none;
  }
  input > input {
    margin: 50px;
  }
}

.custom-check-boxes .check_boxes {
  display: flex;
  flex-wrap: wrap;
  .checkbox {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 0;
    max-width: 180px;
    label {
      flex: 1 1 auto;
      margin: 3px;
      padding: 10px 15px;
      border-radius: 2px;
      border: solid 1px $light-gray;
      background-color: rgba(255,255,255,0.5);
      color: $dark-gray;
      &:hover {
        background-color: white !important;
      };
      input {
        display: none;
      }
    }
  };
  .help-block {
    flex: 0 0 100%;
  }
}

.objective-form {
  display: flex;
  .objective_description {
    flex: 1 1 auto;
  };
  .btn-objective {
    flex: 0 0 45px;
    margin-left: 10px;
    height: 45px
  }
}

#proposition_objectives {
  background-color: rgba(255,255,255,0.8);
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 15px 15px 5px 15px;
  margin-bottom: 1em;
}

@media (max-width: $screen-xs-max) {
  .custom-form-logo img {
    height: 35px;
  };
  .custom-form {
  padding: 5px 10px 30px 10px;
  };
  .custom-form-top {
    padding: 10px;
  };
  .custom-form-input {
    height: 40px;
    font-size: 14px;
  }
  .custom-input-addon {
    font-size: 14px;
    min-width: 43px;
  }
  .help-block {
    font-size: 14px;
  }
  .custom-check-boxes .check_boxes {
    .checkbox {
      max-width: 170px;
    }
  }
  .objective-form {
    .btn-objective {
      flex: 0 0 40px;
      height: 40px
    }
  }
}
