/* Main class */
.my-navbar {
  box-shadow: none;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding: 0 25px 0 35px;
  align-items: center;
  justify-content: space-between;
}

.my-navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
}


/* Navbar left section (logo) */

.my-navbar-left {
  display: flex;
  align-items: center;
}

.my-navbar-brand img {
  height: 45px;
  margin-right: 10px;
}

#my-navbar-locale-toggle {
  height: 40px;
  padding: 0 5px 0 10px;
  width: 52px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-gray;
  background-color: white;
  &:hover {
    border-color: $medium-dark-gray;
  };
  img {
    height: 20px;
    margin-right: 5px;
  }
}

#my-navbar-locale-menu {
  display: none;
  position: fixed;
  top: 61px;
  left: auto;
  width: 52px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 0;
  margin: 0;
  padding: 10px 0;
  li {
    padding-top: 3px;
    padding-bottom: 3px;
    img {
      height: 20px;
      &:hover {
        height: 22px;
      }
    }
  }
}


/* Navbar middle section (search form) */

.my-navbar-middle {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}


/* Navbar right section (with form, links, button) */

.my-navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-navbar-item {
  flex: 0 0 auto;
  padding: 0 20px;
}

.my-navbar-link {
  font-weight: normal;
  line-height: 40px;
}

.my-navbar-button {
  margin: 0 20px;
  padding: 0 20px;
  line-height: 40px;
}

.my-navbar-button-round {
  margin: 0 20px;
  height: 40px;
  width: 40px;
  border-radius: 50% !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#my-navbar-badge {
  position: absolute;
  top: -5px;
  right: -5px;
}

#my-navbar-profile-toggle {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  &:hover {
    border: none;
  }
}

#my-navbar-profile-menu {
  display: none;
  position: fixed;
  top: 61px;
  right: 45px;
  border: none;
  background:rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 0;
  margin: 0;
  padding: 15px 25px;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    a {
      width: 100%;
    }
  }
}

/* Small screens */

#my-navbar-burger-toggle {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  cursor: pointer;
}

#my-navbar-burger-badge {
  position: absolute;
  top: 7px;
  right: 7px;
}

#my-navbar-burger-menu {
  display: none;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  li {
    padding: 10px 15px;
    display: flex;
    background: rgba(48, 72, 95, 0.9);
    a {
      width: 100%;
      display: flex;
      align-items: center;
      color: $light-gray;
      &:hover {
        color: white !important;
      }
    };
    &:first-child {
      background: rgba(66, 211, 170, 0.9);
      a {
        color: white;
        &:hover {
          color: $blue !important;
        }
      };
    };
    &:last-child {
      padding-bottom: 15px;
    };
  }
}

#my-navbar-burger-menu-badge {
  margin-left: 20px;
}


@media (max-width: $screen-sm-max) {
  #my-navbar-search {
    padding-right: 15px;
  }
  .my-navbar-item {
    padding: 0 15px;
  }
}

@media (max-width: $screen-xs-max) {
  .my-navbar {
    height: 55px;
    padding: 0px 20px;
  };
  .my-navbar-brand img {
    height: 35px;
  };
  #my-navbar-locale-toggle {
    height: 35px;
    img {
      height: 18px;
    }
  };
  #my-navbar-locale-menu {
    top: 56px;
    li {
      img {
        height: 18px;
        &:hover {
          height: 20px;
        }
      }
    }
  }
  .my-navbar-button-round {
    margin: 0 10px;
    height: 35px;
    width: 35px;
  }
}
