/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-top {
  padding-top: 6em;
}

.padded-bottom {
  padding-bottom: 6em;
}

// Align

.block-align {
  text-align: center;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

h1 {
  color: $blue;
  font-size: 40px;
}

h2 {
  color: $blue;
  font-size: 30px;
  font-weight: lighter;
}

h3 {
  color: $dark-gray;
  font-size: 26px;
  font-weight: lighter;
}

h4 {
  color: $dark-gray;
  font-size: 22px;
  font-weight: lighter;
}

.yellow {
  color: $yellow;
}

.medium-gray {
  color: $medium-gray
}
