<p class="font-weight-normal red">This session is cancelled, nothing more can be done here.</p>
<div class="padded-top-xs text-right">
  <p><%= link_to "Go back to dashboard", dashboard_path %></p>
</div>
