<div class="deal-info-box padded-top-s">
  <p class="font-weight-normal red"><%= t '.session_is_cancelled' %></p>
  <div class="padded-top-xs text-right">
    <p><%= link_to t('.back_to_dashboard'), dashboard_users_path %></p>
  </div>
</div>
