<div class="session-info-box padded-bottom-xs">
  <% if deal.client == current_user %>
    <p class="font-weight-normal blue">You sent a request to <%= deal.advisor.first_name %>. You should get a proposition back if <%= deal.advisor.first_name %> can help you.</p>
    <p>Cancel the session if you don't want to continue.</p>

  <% elsif deal.advisor == current_user %>
    <p class="font-weight-normal blue">You received a request from <%= deal.client.first_name %>. Submit a proposition if you think you can help (you may chat with <%= deal.client.first_name %> to detail the request).</p>
    <p>Cancel the session if you don't want to continue.</p>

  <% end %>
</div>
