
<% if current_user == deal.advisor %>
  <div class="badge-notification badge-red <%= 'hidden' if deal.advisor_notifications == 0 %>">
    <%= deal.advisor_notifications %>
  </div>
<% elsif current_user == deal.client %>
  <div class="badge-notification badge-red <%= 'hidden' if deal.client_notifications == 0 %>">
    <%= deal.client_notifications %>
  </div>
<% end %>
