<div class="session-left-box padded-bottom-xs">
  <% if @deal.client == current_user %>
    <p class="font-weight-normal blue">You sent a request to <%= @deal.advisor.first_name %>. You should get a proposition back if <%= @deal.advisor.first_name %> can meet your needs.</p>
    <p>Cancel the session if you don't want to pursue.</p>

  <% elsif @deal.advisor == current_user %>
    <p class="font-weight-normal blue">You received a request from <%= @deal.client.first_name %>. Submit a proposition if you think you can meet the needs of <%= @deal.client.first_name %> (ask some questions before if you need it).</p>
    <p>Cancel the session if you don't want to pursue.</p>

  <% end %>
</div>
