<p>
  <% (rating.to_i).times do %>
    <i class="fa fa-star yellow" aria-hidden="true"></i>
  <% end %>
  <% (5 - rating.to_i).times do %>
    <i class="fa fa-star-o medium-gray" aria-hidden="true"></i>
  <% end %>
  <span>&nbsp;&nbsp;<strong><%= (rating / 5 * 100).to_i %> %</strong>  happy</span>
</p>
