<h3>
  <strong class="blue">#<%= t 'session' %>-<%= deal.id %></strong>
  <span class="hidden-xs hidden-sm">&nbsp; | &nbsp;</span>
  <br class="hidden-md hidden-lg">
  <% if deal.offer && policy(deal.offer).show? %>
    <%= link_to deal.title, offer_path(deal.offer) %>
  <% else %>
    <%= deal.title %>
  <% end %>
</h3>
