<h3>
  <strong class="blue">#session-<%= @deal.id %></strong>

  <% if @deal.offer && @deal.offer.archived? %>
    &nbsp; for "<%= @deal.offer.title %>"
  <% elsif @deal.offer %>
    &nbsp; for "<%= link_to "#{@deal.offer.title}", offer_path(@deal.offer) %>"
  <% end %>
</h3>
