<% content_for :title do %>
  <%= "Proposition request | Papoters" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-gray">
  <div class="container">

    <div>
        <h1>Get a proposition</h1>
        <%= render 'request_form' %>
    </div>

  </div>
</div>
