<% content_for :title do %>
  <%= "Proposition request | Tipswell" %>
<% end %>

<div class="container padded-top padded-bottom">

  <div>
      <h1>Get a proposition</h1>

      <%= render 'request_form' %>

  </div>

</div>
