<div class="offer-card">

  <div class="offer-card-content">
    <div class="container-fluid">

      <div class="row padded-bottom-xs">
        <div class="col-xs-12">
          <h2>{{{_highlightResult.title.value}}}</h2>
        </div>
      </div>

      <div class="row padded-bottom-xs">
        <div class="col-xs-3">
          <p>
            <% if I18n.locale == :fr %>
              {{{deals_closed_view_fr}}}
            <% else %>
              {{{deals_closed_view_en}}}
            <% end %>
          </p>
        </div>
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-right">
              <p>
                <% if I18n.locale == :fr %>
                  {{{satisfaction_view_fr}}}
                <% else %>
                  {{{satisfaction_view_en}}}
                <% end %>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <p>
                <span class='info-icon'><%= image_tag 'amount.svg' %></span>
                <% if I18n.locale == :fr %>
                  <% if user_signed_in? && current_user.currency_code == "USD" %>
                    {{{amounts_view_USD_fr}}}
                  <% else %>
                    {{{amounts_view_EUR_fr}}}
                  <% end %>
                <% else %>
                  <% if user_signed_in? && current_user.currency_code == "USD" %>
                    {{{amounts_view_USD_en}}}
                  <% else %>
                    {{{amounts_view_EUR_en}}}
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="padded-bottom-xs">
        <p>{{{_highlightResult.summary.value}}} <span class="font-weight-normal"> &nbsp;[...]</span></p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <ul class = "list-inline">
            {{#languages}}<li class="flag-icon">{{{flag}}}</li>{{/languages}}
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-inline">
            {{#means}}<li class="mean-icon"><i class="fa fa-{{picto}} fa-lg" aria-hidden="true"></i></li>{{/means}}
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="offer-card-user bg-gradient">
    <div class="offer-card-user-avatar">
      {{{advisor.avatar_img}}}
    </div>
    <div class="offer-card-user-info">
      <h1>{{advisor.name}}</h1>
      <% if I18n.locale == :fr %>
        <h3>{{{advisor.grade_and_age_fr}}}</h3>
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{advisor.address_fr}}</h4>
      <% else %>
        <h3>{{{advisor.grade_and_age_en}}}</h3>
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{advisor.address_en}}</h4>
      <% end %>
    </div>
  </div>

  <a href="/<%= I18n.locale == I18n.default_locale ? '' : I18n.locale.to_s + '/' %>offers/{{slug}}" class="link offer-card-link"></a>

</div>
