<div class="offer-card">

  <div class="offer-card-content">
    <div class="container-fluid">

      <div class="row padded-bottom-xs">
        <div class="col-xs-12">
          <h2>{{{_highlightResult.title.value}}}</h2>
        </div>
      </div>

      <div class="row padded-bottom-xs">
        <div class="col-xs-4 col-sm-2">
          <p>{{{deals_closed_view}}}</p>
        </div>
        <div class="col-xs-8 col-sm-5 text-right">
          <p>{{{global_rating_view}}}</p>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
          <p><span class='info-icon'><%= image_tag 'amount.svg' %></span> {{{amounts_view}}}</p>
        </div>
      </div>

      <div class="padded-bottom-xs">
        <p>{{{_highlightResult.summary.value}}} <span class="font-weight-normal"> &nbsp;[...]</span></p>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="row">
            <div class="col-xs-12 col-sm-6">

            </div>
            <div class="col-xs-12 col-sm-6">

            </div>
          </div>
        </div>
      </div>


      <a class="link offer-card-link" href="/offers/{{objectID}}"></a>

    </div>
  </div>

</div>
