<div class="offer-card">

  <div class="offer-card-content">
    <div class="container-fluid">

      <div class="row padded-bottom-xs">
        <div class="col-xs-12">
          <h2>{{{_highlightResult.title.value}}}</h2>
        </div>
      </div>

      <div class="row padded-bottom-xs">
        <div class="col-xs-4 col-sm-2">
          <p>{{{deals_closed_view}}}</p>
        </div>
        <div class="col-xs-8 col-sm-5 text-right">
          <p>{{{global_rating_view}}}</p>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
          <p><span class='info-icon'><%= image_tag 'amount.svg' %></span> {{{amounts_view}}}</p>
        </div>
      </div>

      <div class="padded-bottom-xs">
        <p>{{{_highlightResult.summary.value}}} <span class="font-weight-normal"> &nbsp;[...]</span></p>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ul class = "list-inline">
                {{#languages}}<li class="flag-icon">{{{flag}}}</li>{{/languages}}
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="list-inline">
                {{#means}}<li class="mean-icon"><i class="fa fa-{{picto}} fa-lg" aria-hidden="true"></i></li>{{/means}}
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="offer-card-user bg-gradient">
    <div class="offer-card-user-avatar">
      {{{advisor.avatar_img}}}
    </div>
    <div>
      <h1>{{advisor.name}}</h1>
      <h3>{{{advisor.grade_and_age}}}</h3>
      <h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{advisor.address}}</h4>
    </div>
  </div>

   <a href="/<%= I18n.locale == I18n.default_locale ? '' : I18n.locale.to_s + '/' %>offers/{{objectID}}" class="link offer-card-link"></a>

</div>
