<ul class = "list-unstyled">
  <% offer.means.each do |mean| %>
    <li class="icons-list mean-icon mean-icon-long">
      <i class="fa fa-<%= mean.picto %> fa-fw fa-lg" aria-hidden="true"></i>
      <%= mean.name %>
    </li>
  <% end %>
</ul>
