<p>
  <% unless offer.satisfaction.nil? %>
    <% (offer.satisfaction.round).times do %>
      <i class="fa fa-star yellow" aria-hidden="true"></i>
    <% end %>
    <% (5 - offer.satisfaction.round).times do %>
      <i class="fa fa-star-o medium-gray" aria-hidden="true"></i>
    <% end %>
    <span>&nbsp;&nbsp;<strong><%= (offer.satisfaction.fdiv(5) * 100).to_i %> %</strong>  <%= t '.happy' %></span>

  <% else %>
    <% 5.times do %>
      <i class="fa fa-star-o medium-gray" aria-hidden="true"></i>
    <% end %>
    <span class="medium-gray">&nbsp;&nbsp; <%= t '.not_rated' %></span>
  <% end %>
</p>
