<div id="searchbar" class="hidden">
  <input type="text" id="searchbar-input" autofocus="true">
  <div id="searchbar-input-icon"><i class='fa fa-search'></i></div>
</div>


<div id="search-page-wrapper" class="padded-top-xxl padded-bottom-xxl bg-light-gray hidden">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div class="padded-bottom-s">
          <div id="search-languages" class="facet"></div>
          <div id="search-means" class="facet"></div>
          <div id="search-means" class="facet"></div>
          <div id="search-rating" class="facet"></div>
          <div id="search-amount" class="facet"></div>
        </div>

        <div class="padded-bottom-s">
          <div id="search-sort-by-wrapper"><span id="search-sort-by"></span></div>
          <div id="search-stats"></div>
          <div id="search-hits"></div>
          <div id="search-pagination"></div>
        </div>

        <script type="text/html" id="search-hit-template">
          <div class="search-hit">
            <%= render "offers/card_instant" %>
          </div>
        </script>

        <script type="text/html" id="search-no-results-template">
          <div id="search-no-results-message">
            <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
            <a href="." class="clear-all">Clear search</a>
          </div>
        </script>

        <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
        <script>
          var search = instantsearch({
            appId: "<%= ENV['ALGOLIA_APPLICATION_ID'] %>",
            apiKey: "<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>",
            indexName: 'Offer_development',
            urlSync: false
          });

          search.addWidget(
            instantsearch.widgets.searchBox({
              container: '#searchbar-input',
              placeholder: 'I need some advice for ...'
            })
          );

          search.addWidget(
            instantsearch.widgets.hits({
              container: '#search-hits',
              templates: {
                item: getTemplate('search-hit'),
                empty: getTemplate('search-no-results')
              }
            })
          );

          search.addWidget(
            instantsearch.widgets.stats({
              container: '#search-stats'
            })
          );

          function getTemplate(templateName) {
            return document.getElementById(templateName + '-template').innerHTML;
          }

          search.start();
        </script>

      </div>
    </div>
  </div>
</div>
