<% if offer.advisor == current_user %>
  <% if offer.active? %>
    <h6 class="green"><%= t '.offer_active_advisor' %></h6>
  <% elsif offer.inactive? %>
    <h6 class="medium-gray"><%= t '.offer_inactive_advisor' %></h6>
  <% end %>
<% elsif offer.inactive? %>
  <h6 class="medium-gray"><%= t '.offer_inactive_advisor', advisor_name: offer.advisor.first_name %></h6>
<% end %>
