<div class="offer-card-topics">
  <ul class="list-inline">
    <% offer.topic_list_short.each do |topic| %>
      <li class="offer-topic font-weight-normal" data-topic-name="<%= topic %>"># <%= topic %></li>
    <% end %>
  </ul>
</div>
