<% content_for :title do %>
  <%= "Papoters | Edit offer" %>
<% end %>

<h2>Edit offer</h2>

<%= render 'form' %>

<div class="btn btn-green">
  <%= link_to "Delete this offer", offer_path(@offer), {class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete this offer?" }} %>
</div>
