<% content_for :title do %>
  <%= "Papoters | Search results" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-light-gray main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div>
          <h1>Offers</h1>
          <% if @offers.present? %>
            <% @offers.each do |offer| %>
              <%= render "offers/card", offer: offer %>
            <% end %>
            <div class="text-center padded-top-xs custom-paginator" id="search-paginator">
              <%= paginate @offers %>
            </div>
          <% else %>
            <p>No corresponding offers found</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


