<% content_for :title do %>
  <%= "Papoters | #{t '.publish_new_offer'}" %>
<% end %>

<h2><%= t '.publish_new_offer' %></h2>

<%= render 'form' %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_profile'), user_path(current_user) %></p>
</div>
