<% content_for :title do %>
  <%= "New offer | Papoters" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-gray">
  <div class="container">

    <div>
        <h1>New offer</h1>
        <%= render 'form' %>
    </div>

  </div>
</div>
