<% content_for :title do %>
  <%= "Papoters | Create offer" %>
<% end %>

<h2>Publish a new offer</h2>

<%= render 'form' %>

<div class="text-right padded-top-xs">
  <p><%= link_to "Back to profile", :back %></p>
</div>
