$(document).ready(function(){
  if ($("#stripe-js-api").length > 0 ) {

    var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");
    var $bindButton = $("#bankAccountBindButtton");

    $bindButton.on('click', function(e) {
      $bindButton.prop('disabled', true);
      $bindButton.html(I18n.t('users.bank_account.verification'));
      stripe.createToken('bank_account', {
        country: $("#bankAccountCountryCode").data("country-code"),
        currency: $("#bankAccountCurrency").data("currency"),
        account_number: $("#bankAccountNumber").val()
      }).then(function(result) {
        $bindButton.prop('disabled', false);
        $bindButton.html("<i class='fa fa-lock fa-fw' aria-hidden='true'></i>  " + I18n.t('users.bank_account.bind_account'));
        if (result.error) {
          stripeErrorHandler(result.error);
        } else if (result.token) {
          stripeTokenHandler(result.token);
        }
      })
    });

  }
});

function stripeErrorHandler(error) {
  $("#bankErrors").html(I18n.t('users.bank_account.provide_valid_number'));
  $("#bankAccountNumber").css("border-color", "#EE5F5B");
}

function stripeTokenHandler(token) {
  $("#user_bank_name").val(token.bank_account.bank_name);
  $("#user_bank_last4").val(token.bank_account.last4);
  $("#user_stripeToken").val(token.id);
  $("#bankAccountDetails").html("<i class='fa fa-university fa-fw' aria-hidden='true'></i> <span class='font-weight-normal'>" + token.bank_account.bank_name + "</span>  <span class='medium-gray'>&sdot;&sdot;&sdot;&sdot;" + token.bank_account.last4 + "</span>");
  $("#bankErrors").html("");
  $("#bankAccountNumber").val("");
  $("#bankAccountNumber").css("border-color", "#ccc");
  $("#bankAccountDismissButtton").click();
}
