$(document).ready(function() {

  if ($('.my-navbar').length > 0) {

    var env = $("#current-env").data("env");
    setLocale();
    var currencySymbol = $("#current-currency").data("currency-symbol");
    var userSignedIn = $("#current-user").length > 0;
    var currentUserId = userSignedIn ? $("#current-user").data("user-id").toLocaleString() : null;
    var grayStar = "<i class='fa fa-star-o medium-gray' aria-hidden='true'></i>&nbsp; ";
    var yellowStar = "<i class='fa fa-star yellow' aria-hidden='true'></i>&nbsp;";

    var search = instantsearch({
      appId: "<%= ENV['ALGOLIA_APPLICATION_ID'] %>",
      apiKey: "<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>",
      indexName: env + "_offers",
      urlSync: false,
      numberLocale: I18n.locale,
      urlSync: true,
      searchParameters: {
        hierarchicalFacets: [{
          name: 'topics',
          attributes: ['topics']
        }]
      }
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#searchbar-input',
        placeholder: I18n.t('offers.search.input_placeholder')
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#search-hits',
        transformData: {
          item: function(data) { return transformHitData(data, currencySymbol, currentUserId, grayStar, yellowStar); }
        },
        templates: {
          item: getTemplate('search-hit'),
          empty: getTemplate('search-no-results')
        },
        hitsPerPage: 10
      })
    );

    search.addWidget(
      instantsearch.widgets.stats({
        container: '#search-stats',
        templates: {
          body: getTemplate('search-stats'),
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.sortBySelector({
        container: '#search-sort-by',
        autoHideContainer: true,
        indices: [{
          name: search.indexName, label: I18n.t('offers.search.most_relevant')
        }, {
          name: env + "_offers_price_asc", label: I18n.t('offers.search.lowest_amount')
        }, {
          name: env + "_offers_price_desc", label: I18n.t('offers.search.highest_amount')
        }, {
          name: env + "_offers_satisfaction_desc", label: I18n.t('offers.search.highest_rating')
        }, {
          name: env + "_offers_created_at_desc", label: I18n.t('offers.search.most_recent')
        }]
      })
    );

    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#search-pagination',
        padding: 1
      })
    );

    search.addWidget(
      instantsearch.widgets.currentRefinedValues({
        container: '#search-current-refined-topic',
        clearAll: 'after',
        attributes: [
          {name:'topics'}
        ],
        onlyListedAttributes: true,
        cssClasses: {
          link: "not-active-link"
        },
        templates: {
          item: "<h1># {{name}}</h1>",
          clearAll: '<i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp; ' + I18n.t('offers.search.see_all_topics')
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.rangeSlider({
        container: '#search-amounts',
        attributeName: 'median_amount_cents',
        templates: {
          header: '<h6>' + I18n.t('offers.search.median_amount') + '</h6>'
        },
        tooltips: {
          format: function(rawValue) { return amountTooltipFormatted(rawValue, currencySymbol); }
        },
        pips: false
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#search-languages',
        attributeName: 'languages.flag',
        sortBy: ['isRefined', 'count:desc', 'name:asc'],
        operator: 'or',
        limit: 4,
        showMore: {
          templates: {
            active: showLessTemplate(),
            inactive: showMoreTemplate()
          }
        },
        transformData: {
          item: function(data) { return transformLanguageData(data); }
        },
        templates: {
          header: '<h6>' + I18n.t('offers.search.languages') + '</h6>'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#search-means',
        attributeName: 'means.info',
        sortBy: ['isRefined', 'count:desc', 'name:asc'],
        operator: 'or',
        limit: 4,
        showMore: {
          templates: {
            active: showLessTemplate(),
            inactive: showMoreTemplate()
          }
        },
        transformData: {
          item: function(data) { return transformMeanData(data); }
        },
        templates: {
          header: '<h6>' + I18n.t('offers.search.means') + '</h6>'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.clearAll({
        container: '#search-filters-clear',
        excludeAttributes: ['topics'],
        templates: {
          link: I18n.t('offers.search.reset_filters')
        }
      })
    );

    search.on('render', function() {
      bindTopicTags(this);
      if (userSignedIn) { refreshPinButtons() };
      filtersDiscloseContent();
    });

    search.start();

    bindTopicTags(search);

    $('#home-input').on('input', function() {
      if ($('#home-input').val() !== "") {
        $('#searchbar').slideDown(150);
        homeInputToSearchbar();
        hideNavbarSearchIcon();
        ga('send', 'event', 'Search', 'input', 'Search from home page input');
      }
    });

    $('#my-navbar-btn-search-trigger').on('click', function() {
      $('#searchbar').slideToggle(150, function() {
        if ($('#searchbar').is(':hidden')) {
          $('#searchbar-input').focusout();
          showMainHideSearch();
          searchbarInputToHome();
          showNavbarSearchIcon();
        } else {
          $('#searchbar-input').focus();
          hideNavbarSearchIcon();
          ga('send', 'event', 'Search', 'click', 'Search from navbar button');
        }
      });
    });

    $('#home-btn-search-trigger').on('click', function(event) {
      event.stopPropagation();
      $('#searchbar').slideToggle(150, function() {
        $('#searchbar-input').focus();
        if ($('#searchbar').is(':visible')) {
          hideNavbarSearchIcon();
          ga('send', 'event', 'Search', 'click', 'Search from home page button');
        } else {
          showNavbarSearchIcon();
        }
      });
    });

    $('#advisor-btn-search-trigger').on('click', function(event) {
      event.stopPropagation();
      $('#searchbar').slideToggle(150, function() {
        $('#searchbar-input').focus();
        if ($('#searchbar').is(':visible')) {
          hideNavbarSearchIcon();
          ga('send', 'event', 'Search', 'click', 'Search from advisor page button');
        } else {
          showNavbarSearchIcon();
        }
      });
    });

    $('#main').on('click', function() {
      if ($('#searchbar').is(':visible')) {
        $('#searchbar').slideUp(150);
        $('#searchbar-input').focusout();
        showNavbarSearchIcon();
      }
    });

    $('#searchbar-input').on('input focusin', function() {
      if ($('#searchbar-input').val() !== "") {
        showSearchHideMain();
      }
    });

    $('#search-filters-toggle').on('click', function(event) {
      event.preventDefault();
      $('#search-filters').slideToggle('fast');
      $('#search-filters-toggle .toggle-link').toggleClass('hidden');
    });

    $('#search-clear').on('click', function(event) {
      event.preventDefault();
      $('#searchbar-input').focus();
      $('#searchbar-input').val("");
      search.helper.clearRefinements('languages.flag')
                   .clearRefinements('means.info')
                   .clearRefinements('median_amount_cents')
                   .setQueryParameter('query', '')
                   .search();
    });

  }

});

function getTemplate(templateName) {
  return document.getElementById(templateName + '-template').innerHTML;
}

function transformHitData(data, currencySymbol, currentUserId, grayStar, yellowStar) {
  data.deals_closed_class = data.deals_closed_count > 0 ? "blank-nowrap" : "medium-gray";
  data.deals_closed = I18n.t('offers.deals_count.sessions_html', {count: data.deals_closed_count});
  var satisfactionRound = Math.round(data.satisfaction);
  data.satisfaction_stars = yellowStar.repeat(satisfactionRound) + grayStar.repeat(5 - satisfactionRound);
  if (data.satisfaction) {
    data.satisfaction_class = "";
    data.satisfaction_percents = Math.round(data.satisfaction / 5 * 100) + " %";
    data.satisfaction_text = I18n.t('offers.satisfaction.happy');
  } else {
    data.satisfaction_class = "medium-gray";
    data.satisfaction_percents = "";
    data.satisfaction_text = I18n.t('offers.satisfaction.not_rated');
  }
  var minAmount = Math.round(data.min_amount_cents / 100).toLocaleString();
  var medianAmount = Math.round(data.median_amount_cents / 100).toLocaleString();
  var maxAmount = Math.round(data.max_amount_cents / 100).toLocaleString();
  // amounts should be converted with current_user currency
  data.min_amount = I18n.t('money', { amount: minAmount, currency: currencySymbol});
  data.median_amount = I18n.t('money', { amount: medianAmount, currency: currencySymbol});
  data.max_amount = I18n.t('money', { amount: maxAmount, currency: currencySymbol});
  data.description_cut = data.summary.length > 250 ? " &nbsp;[...]" : "";
  var gradeName = $(data.advisor.grade_img)[0].getAttribute('alt');
  data.advisor.grade = I18n.t('users.info.' + gradeName);
  data.advisor.country = data.advisor.country_code ? I18n.t('countries.' + data.advisor.country_code) : null;
  data.advisor.city = data.advisor.city && data.advisor.country ? data.advisor.city + "," : data.advisor.city;
  data.advisor.no_location = !(data.advisor.city || data.advisor.country) ? " - " : null;
  data.belongs_to_current_user = (currentUserId === data.advisor.id);
  data.title_class = !currentUserId || data.belongs_to_current_user ? "col-xs-12" : "col-xs-11";
  var currentUserPinnedOffersIds = currentUserId ? document.getElementById('current-user').dataset.pinnedOffersIds.toLocaleString().split(" ")  : [];
  if (currentUserPinnedOffersIds.indexOf(data.objectID) >= 0) {
    data.pin_button_class = "unpin-offer-button";
    data.pin_button_title = I18n.t('offers.pin_button.forget_offer');
  } else {
    data.pin_button_class = "pin-offer-button";
    data.pin_button_title = I18n.t('offers.pin_button.pin_offer');
  }
  return data;
}

function transformLanguageData(data) {
  var languageName = $(data.name)[0].getAttribute('alt');
  data.name = I18n.t('language.' + languageName);
  data.highlighted = "<span class='flag-icon flag-icon-long'>" + data.highlighted + data.name + "</span>";
  return data;
}

function transformMeanData(data) {
  var meanInfo = data.name.split(" ");
  data.name = I18n.t('mean.' + meanInfo[1]);
  data.highlighted = "<span class='mean-icon mean-icon-long'><i class='fa fa-" + meanInfo[0] + " fa-fw fa-lg' aria-hidden='true'></i>" + data.name + "</span>"
  return data;
}

function showLessTemplate() {
  return "<a class='ais-show-more ais-show-more__active'>" + I18n.t('offers.search.show_less') + "</a>"
}

function showMoreTemplate() {
  return "<a class='ais-show-more ais-show-more__inactive'>" + I18n.t('offers.search.show_more') + "</a>"
}

function amountTooltipFormatted(rawValue, currencySymbol) {
  var amount = Math.round(rawValue / 100).toLocaleString();
  // amount should be converted with current_user currency
  return I18n.t('money', {amount: amount, currency: currencySymbol});
}

function searchbarInputToHome() {
  if ($('#home-input').length > 0) {
    $('#home-input').val($('#searchbar-input').val());
  }
}

function homeInputToSearchbar() {
  $('#searchbar-input').val($('#home-input').val());
  $('#searchbar-input').focus();
}

function showMainHideSearch() {
  if ($('#main').hasClass('hidden')) {
    $('#main').removeClass('hidden');
    $('#search-page-wrapper').addClass('hidden');
    window.scroll({ top: 0, left: 0 });
  }
}

function showSearchHideMain() {
  if ($('#search-page-wrapper').hasClass('hidden')) {
    $('#search-page-wrapper').removeClass('hidden');
    $('#main').addClass('hidden');
    window.scroll({ top: 0, left: 0 });
  }
}

function refreshPinButtons() {
  var $pinButtonsInstant = $('.pin-unpin-offer-instant');
  $pinButtonsInstant.off();
  unactivateLoader();
  buttonsAnimation($pinButtonsInstant);
}

function bindTopicTags(search) {
  var $topics = $('.offer-topic');
  $topics.off();
  $topics.on('click', function() {
    event.stopPropagation();
    var topicName = $(this).data('topic-name');
    search.helper.clearRefinements('topics');
    search.helper.addHierarchicalFacetRefinement('topics', topicName).search();
    $('#searchbar').slideDown(150);
    $('#searchbar-input').focus();
    hideNavbarSearchIcon();
    showSearchHideMain();
    window.scroll({ top: 0, left: 0 });
  })
}

function filtersDiscloseContent() {
  if ($('.ais-hits__empty').length === 0) {
    $('#search-filters').removeClass('hidden');
    $('#search-filters-toggle').removeClass('hidden');
    $('#search-clear').addClass('hidden');
  } else {
    $('#search-filters').addClass('hidden');
    $('#search-filters-toggle').addClass('hidden');
    $('#search-clear').removeClass('hidden');
  }
}

function hideNavbarSearchIcon() {
  $('#my-navbar-btn-search-trigger').addClass('search-bar-active');
}

function showNavbarSearchIcon() {
  $('#my-navbar-btn-search-trigger').removeClass('search-bar-active');
}
