$(document).ready(function() {

  if ($('.my-navbar').length > 0) {

    setLocale();
    var env = $("#current-env").data("env");

    var search = instantsearch({
      appId: "<%= ENV['ALGOLIA_APPLICATION_ID'] %>",
      apiKey: "<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>",
      indexName: env + "_offers",
      urlSync: false
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#searchbar-input',
        placeholder: I18n.t('offers.search.input_placeholder')
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#search-hits',
        templates: {
          item: getTemplate('search-hit'),
          empty: getTemplate('search-no-results')
        },
        hitsPerPage: 10
      })
    );

    search.addWidget(
      instantsearch.widgets.stats({
        container: '#search-stats',
        templates: {
          body: getTemplate('search-stats'),
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.sortBySelector({
        container: '#search-sort-by',
        autoHideContainer: true,
        indices: [{
          name: search.indexName, label: I18n.t('offers.search.most_relevant')
        }, {
          name: env + "_offers_price_asc", label: I18n.t('offers.search.lowest_amount')
        }, {
          name: env + "_offers_price_desc", label: I18n.t('offers.search.highest_amount')
        }, {
          name: env + "_offers_satisfaction_desc", label: I18n.t('offers.search.highest_rating')
        }, {
          name: env + "_offers_created_at_desc", label: I18n.t('offers.search.most_recent')
        }]
      })
    );

    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#search-pagination',
        padding: 1
      })
    );

    search.addWidget(
      instantsearch.widgets.rangeSlider({
        container: '#search-amounts',
        attributeName: 'median_amount',
        templates: {
          header: '<h6>' + I18n.t('offers.search.median_amount') + '</h6>'
        },
        tooltips: {
          format: function(rawValue) {
            return Math.round(rawValue).toLocaleString() + ' €';
          }
        },
        pips: false
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#search-languages',
        attributeName: 'languages.label_' + I18n.locale,
        sortBy: ['isRefined', 'count:desc', 'name:asc'],
        operator: 'or',
        limit: 4,
        showMore: {
          templates: {
            active: "<a class='ais-show-more ais-show-more__active'>" + I18n.t('offers.search.show_less') + "</a>",
            inactive: "<a class='ais-show-more ais-show-more__inactive'>" + I18n.t('offers.search.show_more') + "</a>"
          }
        },
        templates: {
          header: '<h6>' + I18n.t('offers.search.languages') + '</h6>',
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#search-means',
        attributeName: 'means.label_' + I18n.locale,
        sortBy: ['isRefined', 'count:desc', 'name:asc'],
        operator: 'or',
        limit: 4,
        showMore: {
          templates: {
            active: "<a class='ais-show-more ais-show-more__active'>" + I18n.t('offers.search.show_less') + "</a>",
            inactive: "<a class='ais-show-more ais-show-more__inactive'>" + I18n.t('offers.search.show_more') + "</a>"
          }
        },
        templates: {
          header: '<h6>' + I18n.t('offers.search.means') + '</h6>'
        }
      })
    );

    search.start();

    $('#home-input').on('input', function() {
      if ($('#home-input').val() !== "") {
        $('#searchbar').slideDown(150);
        homeInputToSearchbar();
        hideNavbarSearchIcon();
        ga('send', 'event', 'Search', 'input', 'Search from home page input');
      }
    });

    $('#my-navbar-btn-search-trigger').on('click', function() {
      $('#searchbar').slideToggle(150, function() {
        if ($('#searchbar').is(':hidden')) {
          $('#searchbar-input').focusout();
          showMainHideSearch();
          searchbarInputToHome();
          showNavbarSearchIcon();
        } else {
          $('#searchbar-input').focus();
          hideNavbarSearchIcon();
          ga('send', 'event', 'Search', 'click', 'Search from navbar button');
        }
      });
    });

    $('#home-btn-search-trigger').on('click', function(event) {
      event.stopPropagation();
      $('#searchbar').slideToggle(150, function() {
        $('#searchbar-input').focus();
        if ($('#searchbar').is(':visible')) {
          hideNavbarSearchIcon();
          ga('send', 'event', 'Search', 'click', 'Search from home page button');
        } else {
          showNavbarSearchIcon();
        }
      });
    });

    $('#advisor-btn-search-trigger').on('click', function(event) {
      event.stopPropagation();
      $('#searchbar').slideToggle(150, function() {
        $('#searchbar-input').focus();
        if ($('#searchbar').is(':visible')) {
          hideNavbarSearchIcon();
          ga('send', 'event', 'Search', 'click', 'Search from advisor page button');
        } else {
          showNavbarSearchIcon();
        }
      });
    });

    $('#main').on('click', function() {
      if ($('#searchbar').is(':visible')) {
        $('#searchbar').slideUp(150);
        $('#searchbar-input').focusout();
        showNavbarSearchIcon();
      }
    });

    $('#searchbar-input').on('input focusin', function() {
      if ($('#searchbar-input').val() !== "") {
        showSearchHideMain();
      }
    });

    search.on('render', function() {
      filtersDiscloseContent();
    });

    $('#search-filters-toggle').on('click', function(event) {
      event.preventDefault();
      $('#search-filters').slideToggle('fast');
      $('#search-filters-toggle .toggle-link').toggleClass('hidden');
    });

    $('#search-clear').on('click', function(event) {
      event.preventDefault();
      $('#searchbar-input').focus();
      $('#searchbar-input').val("");
    });

  }

});

function getTemplate(templateName) {
  return document.getElementById(templateName + '-template').innerHTML;
}

function searchbarInputToHome() {
  if ($('#home-input').length > 0) {
    $('#home-input').val($('#searchbar-input').val());
  }
}

function homeInputToSearchbar() {
  $('#searchbar-input').val($('#home-input').val());
  $('#searchbar-input').focus();
}

function showMainHideSearch() {
  if ($('#main').hasClass('hidden')) {
    $('#main').removeClass('hidden');
    $('#search-page-wrapper').addClass('hidden');
    window.scroll({ top: 0, left: 0 });
  }
}

function showSearchHideMain() {
  if ($('#search-page-wrapper').hasClass('hidden')) {
    $('#search-page-wrapper').removeClass('hidden');
    $('#main').addClass('hidden');
    window.scroll({ top: 0, left: 0 });
  }
}

function filtersDiscloseContent() {
  if ($('.ais-hits__empty').length === 0) {
    $('#search-filters-toggle').removeClass('hidden');
    $('#search-clear').addClass('hidden');
  } else {
    $('#search-filters-toggle').addClass('hidden');
    $('#search-clear').removeClass('hidden');
  }
}

function hideNavbarSearchIcon() {
  $('#my-navbar-btn-search-trigger').addClass('search-bar-active');
}

function showNavbarSearchIcon() {
  $('#my-navbar-btn-search-trigger').removeClass('search-bar-active');
}
