<div style="text-align: center; padding: 30px 0;">
  <%= link_to label, user_url(@deal.advisor, locale: I18n.locale), style: "font-weight: normal; text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background-color: #30485F;" %>
</div>
