.flash {
  position: fixed;
  left: 0px;
  top: 70px;
  z-index: 1;
  width: 100%;
}

.alert {
  margin: 0;
  text-align: center;
  padding: 10px 15px;
  p {
    color: white;
    font-weight: normal;
  }
}

.alert-info {
  background: $green;
}
.alert-error {
  background: $red;
}

.close {
  color: white;
  font-weight: lighter;
  opacity: 1;
}

@media (max-width: $screen-xs-max) {
  .flash {
    top: 55px;
  }
}
