.flash {
  position: fixed;
  left: 0px;
  top: 60px;
  z-index: 1;
  width: 100%;
}

.alert {
  margin: 0;
  text-align: center;
  padding: 10px 15px;
  border-radius: 0;
  p {
    color: white;
    font-weight: normal;
  }
}

.alert-info {
  background: rgba(48, 72, 95, 0.9);
  border: none;
}
.alert-error {
  background: rgba(238, 95, 91, 0.9);
  border: none;
}

.alert-danger {
  background: $light-red;
  color: $dark-red;
  margin: 1em 0;
}

.close {
  color: white;
  font-weight: lighter;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    color: white;
  }
}

@media (max-width: $screen-xs-max) {
  .flash {
    top: 55px;
  };
  .alert {
    font-size: 14px;
  }
}
