.pin-offer-button {
  color: $medium-gray;
  position: relative;
  transition: none;
  &:hover, &:focus:hover {
    color: $dark-gray;
  };
  &:focus {
    outline: none;
    color: $medium-gray;
  }
}

.unpin-offer-button {
  color: $yellow;
  position: relative;
  transition: none;
  &:hover, &:focus:hover {
    color: $dark-yellow;
  };
  &:focus {
    outline: none;
    color: $yellow;
  }
}

.offer-trigger-slider {
  height: 24px;
  width: 42px;
  border-radius: 13px;
  position: relative;
}

.activate-offer-slider {
  background-color: $medium-gray;
}

.inactivate-offer-slider {
  background: $gradient-green-dark;
}

.offer-trigger-btn {
  position: absolute;
  top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  transition: none;
}

.inactivate-offer-btn {
  right: 2px;
}

.activate-offer-btn {
  left: 2px;
}

.btn {
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  &:focus {
    outline: none;
  };
  &:active {
    color: white;
  };
  &:active:focus {
    outline: none;
    color: white;
  };
  &:hover {
    color: white !important;
  };
}

.btn-form {
  padding: 10px 15px;
  height: 45px;
  vertical-align: middle;
}

.btn-small {
  font-size: 14px;
  padding: 4px 8px;
}

.btn-gray {
  border: $medium-gray solid 1px;
  color: $dark-gray;
  background-color: transparent;
  &:hover {
    background-color: white;
    color: $dark-gray !important;
  };
  &:active {
    background-color: white;
    color: $dark-gray !important;
  };
  &:focus {
    color: $dark-gray;
  };
}

.btn-dark-gray {
  border: none;
  color: white;
  background: $gradient-gray-dark;
  &:hover {
    background: $reverse-gradient-gray-dark;
  };
  &:active {
    background: $gradient-gray-dark;
  };
  &:focus {
    color: white;
  };
}


.btn-white {
  border: $medium-gray solid 1px;
  color: $dark-gray;
  background-color: rgba(255,255,255,0.7);
  &:hover {
    background-color: white;
    color: $dark-gray !important;
  };
  &:active {
    background-color: white;
    color: $dark-gray !important;
  };
  &:focus {
    color: $dark-gray;
  };
}

.btn-gradient {
  border: none;
  color: white;
  background: $gradient-opaque;
  &:hover {
    background: $reverse-gradient-opaque;
  };
  &:active {
    background: $gradient-opaque;
  };
  &:focus {
    color: white;
  };
}

.btn-blue {
  border: none;
  color: white;
  background: $gradient-blue-light;
  &:hover {
    background: $reverse-gradient-blue-light;
  };
  &:active {
    background: $gradient-blue-light;
  };
  &:focus {
    color: white;
  };
}

.btn-green {
  border: none;
  color: white;
  background: $gradient-green-dark;
  &:hover {
    background: $reverse-gradient-green-dark;
  };
  &:active {
    background: $gradient-green-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-yellow {
  border: none;
  color: white;
  background: $gradient-yellow-dark;
  &:hover {
    background: $reverse-gradient-yellow-dark;
  };
  &:active {
    background: $gradient-yellow-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-red {
  border: none;
  color: white;
  background: $gradient-red-dark;
  &:hover {
    background: $reverse-gradient-red-dark;
  };
  &:active {
    background: $gradient-red-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-facebook {
  border: none;
  color: white;
  background: $gradient-facebook;
  &:hover {
    background: $reverse-gradient-facebook;
  };
  &:active {
    background: $gradient-facebook;
  };
  &:focus {
    color: white;
  };
}

.btn-round {
  border-radius: 50%;
}


@media (max-width: $screen-xs-max) {
  .btn {
    font-size: 14px;
  };
  .btn-form {
    padding: 10px 15px;
    height: 40px;
  };
  .offer-trigger-slider {
    height: 22px;
    width: 39px;
    border-radius: 11px;
  };
  .offer-trigger-btn {
    height: 18px;
    width: 18px;
  }
}
