.pin-offer-button {
  color: $medium-gray;
  position: relative;
  &:hover {
    color: $yellow;
  };
  &:focus {
    outline: none;
    color: $medium-gray;
  }
}

.unpin-offer-button {
  color: $yellow;
  position: relative;
  &:hover {
    color: $dark-yellow;
  };
  &:focus {
    outline: none;
    color: $yellow;
  }
}

.offer-trigger-slider {
  height: 24px;
  width: 48px;
  border-radius: 13px;
  position: relative;
}

.activate-offer-slider {
  background-color: $medium-gray;
}

.inactivate-offer-slider {
  background: $gradient-green-dark;
}

.offer-trigger-btn {
  position: absolute;
  top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.inactivate-offer-btn {
  right: 2px;
}

.activate-offer-btn {
  left: 2px;
}

.btn {
  border-radius: 4px;
  &:focus {
    outline: none;
  };
  &:active {
    color: white;
  };
  &:active:focus {
    outline: none;
    color: white;
  };
  &:hover {
    color: white !important;
  };
}

.btn-form {
  padding: 10px 15px;
  height: 45px;
  vertical-align: middle;
}

.btn-gray {
  border: $dark-gray solid 1px;
  color: $dark-gray;
  background-color: rgba(255,255,255,0.8);
  &:hover {
    background-color: $dark-gray;
  };
  &:active {
    background-color: $extra-dark-gray;
  };
  &:focus {
    color: $dark-gray;
  };
}

.btn-gradient {
  border: none;
  color: white;
  background: $gradient-dark;
  &:hover {
    background: $reverse-gradient-dark;
  };
  &:active {
    background: $gradient-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-blue {
  border: none;
  color: white;
  background: $gradient-blue-dark;
  &:hover {
    background: $reverse-gradient-blue-dark;
  };
  &:active {
    background: $gradient-blue-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-green {
  border: none;
  color: white;
  background: $gradient-green-dark;
  &:hover {
    background: $reverse-gradient-green-dark;
  };
  &:active {
    background: $gradient-green-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-yellow {
  border: none;
  color: white;
  background: $gradient-yellow-dark;
  &:hover {
    background: $reverse-gradient-yellow-dark;
  };
  &:active {
    background: $gradient-yellow-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-red {
  border: none;
  color: white;
  background: $gradient-red-dark;
  &:hover {
    background: $reverse-gradient-red-dark;
  };
  &:active {
    background: $gradient-red-dark;
  };
  &:focus {
    color: white;
  };
}

.btn-facebook {
  border: none;
  color: white;
  background: $gradient-facebook;
  &:hover {
    background: $reverse-gradient-facebook;
  };
  &:active {
    background: $gradient-facebook;
  };
  &:focus {
    color: white;
  };
}

.btn-round {
  border-radius: 50%;
}


@media (max-width: $screen-xs-max) {
  .btn-blue, .btn-green, .btn-facebook, .btn-gray, .btn-yellow, .btn-red {
    font-size: 14px;
  };
  .btn-form {
    padding: 10px 15px;
    height: 40px;
  };
  .offer-trigger-slider {
    height: 20px;
    width: 40px;
    border-radius: 11px;
  };
  .offer-trigger-btn {
    height: 16px;
    width: 16px;
  }
}
