.pin-offer-button {
  color: $medium-gray;
  &:hover {
    color: $dark-gray;
  };
  &:focus {
    outline: none;
    color: $medium-gray;
  }
}

.unpin-offer-button {
  color: $yellow;
  &:hover {
    color: $light-yellow;
  };
  &:focus {
    outline: none;
    color: $yellow;
  }
}

.btn {
  border-radius: 4px;
  &:focus {
    outline: none;
  };
  &:active {
    color: white;
  };
  &:active:focus {
    outline: none;
    color: white;
  };
  &:hover {
    color: white !important;
  };
}

.btn-form {
  padding: 10px 15px;
  height: 45px;
  vertical-align: middle;
}

.btn-gray {
  border: $dark-gray solid 1px;
  color: $dark-gray;
  background-color: rgba(255,255,255,0.8);
  &:hover {
    background-color: $dark-gray;
  };
  &:active {
    background-color: $extra-dark-gray;
  };
  &:focus {
    color: $dark-gray;
  };
}

.btn-blue {
  border: $blue solid 1px;
  color: $blue;
  background-color: rgba(255,255,255,0.8);
  &:hover {
    background-color: $blue;
  };
  &:active {
    background-color: $dark-blue;
  };
  &:focus {
    color: $blue;
  };
}

.btn-green {
  border: $green solid 1px;
  color: $green;
  background-color: rgba(255,255,255,0.8);
  &:hover {
    background-color: $green;
  };
  &:active {
    background-color: $green;
  };
  &:focus {
    color: $green;
  };
}

.btn-red {
  border: $red solid 1px;
  color: $red;
  background-color: rgba(255,255,255,0.8);
  &:hover {
    background-color: $red;
  };
  &:active {
    background-color: $red;
  };
  &:focus {
    color: $red;
  };
}

.btn-facebook {
  border: #3b5998 solid 1px;
  color: #3b5998;
  background-color: rgba(255,255,255,0.8);
  &:hover {
    background-color: #3b5998;
  };
  &:active {
    background-color: #2E4678;
  };
  &:focus {
    color: #3b5998;
  };
}


@media (max-width: $screen-xs-max) {
  .btn-blue, .btn-green, .btn-facebook, .btn-gray {
    font-size: 14px;
  };
  .btn-form {
    padding: 10px 15px;
    height: 40px;
  }
}
