.process-step {
  padding: 20px 0;
}

.deal_card {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 10px 5px;
  margin: 20px 0;
  border-radius: 5px;
  position: relative;
  & .link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:hover {
      background-color: $medium-gray;
      opacity: 0.1;
    }
  }
}

.deal-avatar {
  width: 80px;
  padding: 0 10px;
  h3 {
    font-size: 14px;
    margin-top: 5px;
  }
}

.deal-abstract {
  h2 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
  }
  p {
    font-weight: lighter;
    color: $dark-gray;
    font-size: 14px;
    margin-bottom: 0;
  }
}
