.slider-box {
  margin: 12px 10px 20px 10px;
}

.slider.slider-horizontal {
  width: 100%;
  .slider-track {
    height: 8px;
    margin-top: -4px;
  };
  .slider-track-high {
    background: white;
    box-shadow: none;
    border: 1px solid #ccc;
  };
  .slider-selection {
    background: $green;
    box-shadow: none;
  };
  .slider-handle {
    background: white;
    border: 1px solid $green;
  }
  .slider-tick-label-container {
    display: flex;
    justify-content: space-around;
  }
  .slider-tick-label {
    font-size: 14px;
    color: $medium-dark-gray;
  }
}

.deal-slider-control {
  display: flex;
}

#deal-slider-duration-display {
  border-radius: 3px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border: 1px solid #ccc;
  flex: 1 1 auto;
  margin-right: 20px;
}

#deal-slider-to-daily, #deal-slider-to-hourly {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $screen-xs-max) {
  #deal-slider-duration-display {
    height: 40px;
  }
  #deal-slider-to-daily, #deal-slider-to-hourly {
    width: 40px;
    height: 40px;
  }
}
