.group-card {
  position: relative;
  margin-bottom: 40px;
}

.group-card-img {
  position: relative;
  height: 250px;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    transition: all 0.1s ease;
    z-index: 7;
    margin-bottom: 25px;
  }
}

.group-card-img-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $blue;
  opacity: 0;
  z-index: 6;
}

.group-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  h3 {
    font-weight: normal;
    color: $blue;
    font-size: 23px;
    margin: 0;
  }
}

.group-card-link {
  z-index: 8;
  &:hover {
    ~ .group-card-img {
      img {
        width: 86px;
        height: 86px;
      }
    }
    ~ .group-card-img-filter {
      opacity: 0.2;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .group-card-img {
    height: 210px;
    img {
      height: 70px;
      width: 70px;
      margin-bottom: 20px;
    }
  }
  .group-card-text {
    padding-top: 11px;
    padding-bottom: 13px;
    h3 {
      font-size: 18px;
    }
  }
  .group-card-link:hover ~ .group-card-img {
    img {
      width: 76px;
      height: 76px;
    }
  }
}
