.flag-icon {
  display: flex;
  align-items: center;
  img {
    height: 22px;
  }
}

.amount-icon {
  margin-right: 10px;
  img {
    height: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: $screen-xs-max) {
  .amount-icon img {
    height: 18px;
  }
  .flag-icon img {
    height: 20px;
  }
}
