.icons-list {
  line-height: 1.8em;
  margin-left: 10px;
}

.flag-icon {
  display: flex;
  align-items: center;
  img {
    height: 22px;
  }
}

.flag-icon-message {
  display: inline;
  margin-right: 15px;
  line-height: 2.2em;
  img {
    height: 22px;
  }
}

.flag-icon-long {
  img {
    margin-right: 12px;
  }
}

.mean-icon-message {
  margin-right: 5px;
  margin-top: 5px;
  line-height: 2.2em;
}

.mean-icon-long {
  i {
    margin-right: 10px;
  };
}

.info-icon {
  margin-right: 10px;
  img {
    height: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: $screen-xs-max) {
  .info-icon img {
    height: 18px;
  }
  .flag-icon img {
    height: 20px;
  }
  .flag-icon-message img {
    height: 20px;
  }
}
