.icons-list {
  line-height: 1.8em;
  margin-left: 10px;
}

.flag-icon {
  display: flex;
  align-items: center;
  img {
    height: 22px;
  }
}

.flag-icon-small {
  display: flex !important;
  align-items: center !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  img {
    height: 20px;
  }
}

.flag-icon-long {
  img {
    margin-right: 12px;
  }
}

.mean-icon {
  i {
    color: $dark-light-gray;
  }
}

.mean-icon-small {
  font-size: 18px;
  i {
    color: $dark-light-gray;
  }
}

.mean-icon-long {
  i {
    margin-right: 10px;
  };
}

.info-icon {
  margin-right: 10px;
  img {
    height: 20px;
    margin-bottom: 5px;
  }
}

.icon-big {
  margin-bottom: 10px;
  img {
    height: 50px;
  }
}

@media (max-width: $screen-xs-max) {
  .info-icon img {
    height: 18px;
  }
  .flag-icon img {
    height: 20px;
  }
  .flag-icon-message img {
    height: 20px;
  }
  .icon-big {
    img {
      height: 40px;
    }
  }
}
