.message-box {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  p {
    margin: 0;
  };
  .message {
    flex: 0 1 auto;
    max-width: 80%;
    .message-content {
      padding: 5px 25px;
      overflow-wrap: break-word;
      pre {
        border-radius: 10px;
        margin: 5px 0;
        background-color: rgba(255,255,255,0.5);
        border: none;
        code {
          font-family: monospace;
          white-space: pre-wrap;
          display: inline-block;
          font-size: 13px;
        }
      }
    }
  };
}

.message-right {
  justify-content: flex-end;
  .message-content {
    background-color: $light-blue;
    border-radius: 21px 21px 0 21px;
  };
  .message-date {
    text-align: right;
  }
}

.message-left {
  justify-content: flex-start;
  .message-content {
    background-color: $extra-light-gray;
    border-radius: 21px 21px 21px 0;
  };
  .message-date {
    text-align: left;
  }
}

@media (max-width: $screen-xs-max) {
  .message-box {
    .message {
      .message-content {
        padding: 10px 20px;
        pre {
          code {
            font-size: 12px;
          }
        }
      }
    }
  };
  .message-right {
    .message-content {
      border-radius: 20px 20px 0 20px;
    }
  };
  .message-left {
    .message-content {
      border-radius: 20px 20px 20px 0;
    }
  }
}
