.offer-card {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 40px;
  position: relative;
  min-height: 270px;
  display: flex;
  overflow: hidden;
  em {
    font-style: normal;
    border-bottom: 2px solid $yellow;
  }
}

.offer-card-small {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 340px;
  max-width: 390px;
  em {
    font-style: normal;
    border-bottom: 2px solid $yellow;
  }
}

.offer-card-content {
  flex: 1 1 auto;
  padding: 0 30px 20px 30px;
  position: relative;
  h2 {
    font-size: 26px;
  }
}

.offer-card-small-content {
  flex: 1 1 auto;
  padding: 0;
  position: relative;
  h2 {
    font-size: 20px;
  }
}

.offer-card-user {
  flex: 0 0 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 22px;
  };
  h3 {
    font-size: 18px;
  };
  h4 {
    font-size: 16px;
    margin-top: 20px;
  };
}

.offer-card-user-info {
  img {
    margin-right: 10px;
    height: 22px;
    margin-bottom: 5px;
  }
}

.offer-card-small-user-info {
  img {
    margin-right: 10px;
    height: 18px;
    margin-bottom: 5px;
  }
}

.offer-card-small-user {
  flex: 0 1 auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  h1 {
    font-size: 18px;
    margin-top: 5px;
  };
  h3 {
    font-size: 16px;
    margin-top: 5px;
  };
  h4 {
    font-size: 14px;
    margin-top: 10px;
  };
}

.offer-card-small-user-avatar {
    margin-right: 20px;
  }

.offer-card-link {
  border-radius: 5px;
  &:hover {
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.3);
  }
}

.offer-card-top-right {
  position: absolute;
  right: 45px;
  top: 0;
  z-index:2;
}

.offer-card-bottom-right {
  position: absolute;
  right: 45px;
  bottom: 28px;
  z-index:2;
}

.offer-card-small-bottom-right {
  position: absolute;
  right: 15px;
  bottom: 18px;
  z-index:2;
}

.offer-card-summary {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $screen-md-max) {
  .offer-card-small {
    min-height: 360px;
  }
}

@media (max-width: $screen-sm-max) {
  .offer-card {
    flex-wrap: wrap;
  }
  .offer-card-small {
    min-height: 330px;
  }
  .offer-card-content {
    width: 100%;
  }
  .offer-card-user {
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 35px;
    h1, h3 {
      margin-top: 5px;
    };
    h4 {
      margin-top: 10px;
    };
  }
  .offer-card-user-avatar {
    margin-right: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .offer-card-small {
    min-height: 340px;
  }
  .offer-card-content {
    padding: 0 0 10px 0;
    h2 {
      font-size: 20px;
    }
  };
  .offer-card-user {
    padding: 10px 15px;
    h1 {
      font-size: 18px;
    };
    h3 {
      font-size: 16px;
    };
    h4 {
      font-size: 14px;
    };
  }
  .offer-card-user-info {
    img {
      height: 18px;
    }
  }
  .offer-card-top-right {
    right: 15px;
  }
  .offer-card-bottom-right {
    right: 15px;
    bottom: 18px;
  }
}

