.offer-card {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 50px;
  position: relative;
  min-height: 270px;
  display: flex;
  overflow: hidden;
}

.offer-card-content {
  flex: 1 1 auto;
  padding: 0 30px 20px 30px;
  position: relative;
}

.offer-card-user {
  flex: 0 0 200px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 22px;
  };
  h3 {
    font-size: 18px;
  };
  h4 {
    font-size: 16px;
    margin-top: 20px;
  };
}

.offer-card-link {
  border-radius: 5px;
  &:hover {
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.3);
  }
}

.offer-card-top-right {
  position: absolute;
  right: 45px;
  top: 0;
  z-index:2;
}

.offer-card-bottom-right {
  position: absolute;
  right: 45px;
  bottom: 28px;
  z-index:2;
}

@media (max-width: $screen-sm-max) {
  .offer-card {
    flex-wrap: wrap;
  }
  .offer-card-content {
    width: 100%;
  }
  .offer-card-user {
    flex: 1 1 auto;
    flex-direction: row;
    text-align: left;
    padding: 10px 35px;
    h1, h3 {
      margin-top: 5px;
    };
    h4 {
      margin-top: 10px;
    };
  }
  .offer-card-user-avatar {
    margin-right: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .offer-card-content {
    padding: 0 0 10px 0;
  };
  .offer-card-user {
    padding: 10px 15px;
    h1 {
      font-size: 18px;
    };
    h3 {
      font-size: 16px;
    };
    h4 {
      font-size: 14px;
    };
  }
  .offer-card-top-right {
    right: 15px;
  }
  .offer-card-bottom-right {
    right: 15px;
    bottom: 18px;
  }
}

