.custom-search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-search-input {
  border: none;
  border-bottom: 2px $yellow solid;
  margin-right: 30px;
  background-color: transparent;
  border-radius: 0;
  &:focus {
    outline: none;
    border-bottom: 3px $yellow solid;
  }
}

@media (max-width: $screen-xs-max) {
  .custom-search-input {
    margin-right: 10px;
    border-bottom: 1px $yellow solid;
    &:focus {
      border-bottom: 2px $yellow solid;
    }
  }
}
