<% require 'devise/version' %>
<p><%= t('.greeting', recipient: @resource.first_name) %></p>

<p><%= t('.message') %></p>

<p><%= t('.instruction') %></p>

<div style="text-align: center; padding: 30px 0;">
  <%= link_to t('.action'), unlock_url(@resource, unlock_token: (Devise::VERSION.start_with?('3.') ? @token :@resource.unlock_token)), style: "text-decoration: none; font-weight: normal; padding: 10px 15px; border-radius: 4px; border: none; color: white; background: linear-gradient(164deg, #30689D 0%, #30485F 100%);" %>
</div>
